<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>修改密码</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=155&amp;groupId=</string>
	</array>
	<array>
		<string>我的信息 </string>
		<string>http://202.193.80.58:81/academic/showPersonalInfo.do</string>
	</array>
	<array>
		<string>我的课表</string>
		<string>http://202.193.80.58:81/academic/manager/coursearrange</string>
	</array>
	<array>
		<string>我的成绩</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=2020&amp;groupId=</string>
	</array>
	<array>
		<string>我的考试</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=2030&amp;groupId=</string>
	</array>
	<array>
		<string>全校课程查询</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=202&amp;groupId=</string>
	</array>
	<array>
		<string>全校教室查询</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=1070&amp;groupId=</string>
	</array>
	<array>
		<string>全校班级课表</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=1431&amp;groupId=</string>
	</array>
	<array>
		<string>全校教室课表</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=1433&amp;groupId=</string>
	</array>
	<array>
		<string>我的教学计划</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=2070&amp;groupId=</string>
	</array>
	<array>
		<string>我的详细课表</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=2000&amp;groupId=</string>
	</array>
	<array>
		<string>我的学籍信息</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=2060&amp;groupId=</string>
	</array>
	<array>
		<string>我的选课情况</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=2050&amp;groupId=</string>
	</array>
	<array>
		<string>等级考试成绩</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=2022&amp;groupId=</string>
	</array>
	<array>
		<string>重修重考报名</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=2010&amp;groupId=</string>
	</array>
	<array>
		<string>等级考试报名</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=2090&amp;groupId=</string>
	</array>
	<array>
		<string>综合审查</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=430&amp;groupId=</string>
	</array>
	<array>
		<string>成绩审查</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=2024&amp;groupId=</string>
	</array>
	<array>
		<string>教学评价</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=508&amp;groupId=</string>
	</array>
</array>
</plist>
