<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>修改密码</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=155&amp;groupId=</string>
	</array>
	<array>
		<string>我的个人信息</string>
		<string>http://202.193.80.58:81/academic/showPersonalInfo.do</string>
	</array>
	<array>
		<string>我的教学计划</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=211&amp;groupId=</string>
	</array>
	<array>
		<string>我的任选课组</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=213&amp;groupId=</string>
	</array>
	<array>
		<string>我的调课申请</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=1305&amp;groupId=</string>
	</array>
	<array>
		<string>我的开课申请</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=204&amp;groupId=</string>
	</array>
	<array>
		<string>全校课程查询</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=202&amp;groupId=</string>
	</array>
	<array>
		<string>全校教室查询</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=1070&amp;groupId=</string>
	</array>
	<array>
		<string>全校班级课表</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=1431&amp;groupId=</string>
	</array>
	<array>
		<string>全校教师课表</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=1432&amp;groupId=</string>
	</array>
	<array>
		<string>全校教室课表</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=1433&amp;groupId=</string>
	</array>
	<array>
		<string>我的教学任务</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=1010&amp;groupId=</string>
	</array>
	<array>
		<string>我的监考任务</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=1090&amp;groupId=</string>
	</array>
	<array>
		<string>我的考试安排</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=1080&amp;groupId=</string>
	</array>
	<array>
		<string>我的教师信息</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=1081&amp;groupId=</string>
	</array>
	<array>
		<string>我的评估结果</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=507&amp;groupId=</string>
	</array>
	<array>
		<string>成绩录入与维护</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=1000&amp;groupId=</string>
	</array>
	<array>
		<string>学生相关报表</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=451&amp;groupId=</string>
	</array>
	<array>
		<string>定制输出报表</string>
		<string>http://202.193.80.58:81/academic/accessModule.do?moduleId=1413&amp;groupId=</string>
	</array>
</array>
</plist>
