<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>桂林理工大学</string>
		<array>
			<dict>
				<key>title</key>
				<string>学校简介</string>
				<key>content</key>
				<string>　　桂林理工大学是中央与地方共建、以广西壮族自治区管理为主的高校。学校源于1956年原国家重工业部在广西组建的桂林地质学校，1978年更名为桂林冶金地质学院，1986年获硕士学位授权单位资格，1993年更名为桂林工学院，1998年改制为中央与地方共建，2009年更名为桂林理工大学，2013年获博士学位授权资格。学校现有桂林屏风、桂林雁山、南宁安吉、南宁空港四个校区，校园总面积3300余亩。研究生、本科层次教育在桂林本部的两个校区，高职专科层次教育在南宁两个校区。

　　学校现有二级学院19个，其中本科学院14个，设有涵盖7大学科门类的71个本科专业。学校有2个博士后科研流动站、3个一级学科博士学位授权点、16个一级学科硕士学位授权点、5个专业学位类别（其中工程硕士类别有11个专业领域）；具有推荐优秀应届本科毕业生免试攻读硕士研究生资格；现有全日制本科生、硕士研究生、博士研究生共21000余人。

　　校本部现有教职工1600多人，其中专任教师1070人，具有高级职称教师512人，具有博士学位教师353人。有国家“千人计划”入选者、教育部优秀教师资助计划等国家级高层次专家、人才9人；广西“八桂学者”、特聘专家、优秀专家、“八桂名师”、“十百千人才工程”等省部级高层次人才64人。

　　学校入选教育部第二批“卓越工程师教育培养计划高校”，有7个学科领域、5个本科专业列入教育部卓越工程师教育培养计划；获得国家级本科质量工程项目23项，包括国家级教学团队2个、精品课程4门、双语教学示范课程1门、精品视频公开课程2门、实验教学示范中心2个、人才培养模式创新实验区1个、特色专业建设点5个、专业综合改革试点项目1个、精品资源共享课立项项目4个、大学生校外实践教育基地1个；近一届获得国家级教学成果奖2项、自治区级教学成果奖23项。

　　学校现有省部共建国家重点实验室培育基地1个，教育部重点实验室1个，教育部工程研究中心1个，广西重点学科24个（其中5个为优势特色学科），广西区政府院士工作站2个，广西重点实验室7个，广西工程研究中心1个，广西人文社科重点研究基地2个，广西高校协同创新中心3个（2个培育）。近五年来承担国家级、省部级等各类科研项目2643项，其中“973”前期专项、“863”计划、国家自然科学基金、国家社会科学基金等国家级项目255项，获专利授权370项；学校曾获国家科技进步特等奖，近五年来获得国家技术发明二等奖、广西自然科学一等奖、广西科技进步一等奖及广西社会科学优秀成果一等奖等国家及省部级奖47项。

　　学校以应用型高级专门人才培养为目标定位，深化教育教学改革，全面提升人才培养质量。学生学风良好，科技创新活跃，在全国大学生各级各类竞赛中成绩卓著，其中在“挑战杯”全国大学生课外学术科技作品竞赛中，连续八届比赛总分名列广西高校第一。培养的学生以专业基础扎实、实践能力强而倍受社会欢迎，近十年毕业生初次就业率均保持在90%以上，连续13年被评为“广西高校毕业生就业工作先进集体”，2009年获“全国普通高等学校毕业生就业工作先进集体”荣誉称号。

　　学校先后与美国、英国、日本、澳大利亚等20余个国家的100余所高校建立了友好合作关系，其中与50多所高校签订了留学生交换、学术交流和科研合作协议，累计接收了各类留学生1500余名，共派出到国外访学、留学的学生400多名；由英国皇家宝石协会设在学校的FGA考点考试通过率连续5年名列世界各考点第一，被国际珠宝界传为佳话。

　　学校坚定不移地秉承“育人为本、质量立校、人才强校”的办学理念，坚持内涵式发展道路，结合国家及广西发展需要，强化人才培养中心地位，为建成特色鲜明高水平理工大学而努力奋斗。（数据截止到2014年12月9日）

 

地址：广西桂林市建干路12号 
邮编：541004 
电话：0773-5896079 
图文传真：0773-5892796 
网址：http://www.glut.edu.cn 
Add: 12#Jian Gan Rd.Guilin Guangxi 
Tel: 86-773-5896079 
Fax: 86-773-5892796 
web site: http://www.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>校园文化</string>
				<key>content</key>
				<string>桂工精神 校训

厚德笃学 惟实励新[17] 
校歌

桂林理工大学之歌[18] 
作词：于海平 王赣华 叶昊
作曲：孟庆峰 王赣华
七星叠翠，漓水流长，
屏风紫气蔚霞光。
　　英才竞秀，弦歌一堂，
　　满园丹桂沁书香。

　　厚德笃学，惟实励新，
　　厚德笃学，惟实励新！
　　冶金地质奠基业，
　　桂工精神永传扬。

　　鸿雁凌空，风物放眼，
　　鸿雁凌空，风物放眼！
　　大道致远当自强，
　　为学兴邦铸辉煌。
学生组织

校级组织
1、共青团桂林理工大学委员会[19] 
2、桂林理工大学学生会
3、共青团桂林理工大学社团工作委员会
4、桂林理工大学大学生社团联合会
5、桂林理工大学大学生艺术团
6、桂林理工大学学生工作助理中心
7、桂林理工大学大学生宿舍自我管理委员会
8、桂林理工大学国旗班
校级社团
社团编号
社团名称
社团编号	社团名称	社团编号	社团名称
T01
计算机协会
S11	伙食管理委员会	C20	棋类协会
T02
电子协会
P12	青年志愿者协会	C21	书画协会
T03
英语协会
P13	绿色俱乐部	C22	　
T04
日语协会
P14	红十字会	C28	　
T05
创业者联盟
P15	心理健康协会	　	　
T06
人文素质培养中心
P16	分享爱工作营	　	　
T07
数学建模协会
C16	舞蹈协会	　	　
S07
广播电台
C17	自行车协会	　	　
S08
大学生记者团
C18	烙印漫画社	　	　
S10
南国风文学社
C19	球类协会

艰苦创业、敬业奉献、团结协作、开拓创新</string>
			</dict>
			<dict>
				<key>title</key>
				<string>杰出校友</string>
				<key>content</key>
				<string>教育科研界
张振海，教授级高级工程师，现任中国地质科学院地球物理地球化学勘查研究所科技外事处处长，中国地质调查局全国成矿带区域地球化学调查计划项目负责人。
付水兴，化探80级校友，教授级高级工程师，有色金属地质矿产调查中心副主任、北京矿产地质研究院副院长。
张明华，物探80-2班校友，中国地质调查局发展研究中心研究员。
朱来东，化探81-2班校友，教授，西北矿冶研究院副院长、白银有色集团地质矿产研究所所长。
杨建文，83届毕业，现任澳大利亚塔斯玛尼亚大学地球科学系终身教授，加拿大温莎大学地球科学系终身教授、博士生导师。
解庆林，83届毕业，原桂林工学院资源与环境工程系主任，现任桂林理工大学校长，教授，硕士生导师。
陈海弟，83届地球物理勘查系毕业，现任中国冶金地质总局地球物理勘查院院长。
李丰生，84届物探系地球物理勘探专业，博士、教授、博士研究生导师，曾任桂林旅游高等专科学校校长，现为梧州学院党委副书记，院长。
张学洪，85届地化勘探专业毕业，现任桂林理工大学党委书记，教授，博士生导师。
李赋屏，85界矿产普查与勘探专业，现任广西有色金属集团有限公司董事、副总经理。
韩立君 86届岩土工程专业毕业，河北省建设勘察研究院党委书记，董事长，正高级工程师
卢宗柳，化探86级，桂林矿产地质研究院副院长。
郎耀秀，原桂林工学院博文管理学院常务副院长，现任河池学院院长，党委副书记。
吴郭泉，86届毕业，原桂林工学院博文管理学院常务副院长，现任贺州学院党委副书记、院长。
罗小南，86届勘查地球物理专业毕业，现任河南省有色金属地质矿产局副局长、党组成员。[20] 
李祥清，原桂林工学院副院长，现桂林电子科技大学副校长。
缪秉魁，87届毕业，教授，现任桂林理工大学地球科学学院副院长，中国空间科学学会理事和中国南极陨石专家委员会委员。
杨占东，93届物探专业毕业，现任中国冶金地质总局中南局副局长。
康志忠，98届测绘工程专业毕业，现任中国地质大学（北京）土地科学技术学院副教授。
谭玉敏，98届测绘工程专业毕业，北京航空航天大学交通科学与工程学院副教授。
麦立强，01届无机材料专业毕业，现任武汉理工大学材料科学与工程学院教授，博士生导师。
熊良兵，广西梧州市水利电力设计院院长党支部书记。
全铁军，湖南省有色地勘局总工程师、党组成员。
杨昌彬 ，中国冶金地质总局山东正元地质勘查院副总工程师。
林涛，云南省设计院勘察分院院长。
程道品，原桂林理工大学研究生处处长，现梧州学院副院长。
政界
黄任文，61届采矿专业毕业，曾任广西壮族自治区高级法院院长、党组书记，自治区党委政法委员会副书记、自治区社会治安综合治理委员会副主任（期间：1994年9月至1994年11月在中央党校学习）广西区人大第六、七、八、九届人大代表；第七届全国人大代表，中共广西壮族自治区第七届委员会委员。现为最高人民法院咨询委员会委员、广西老年体育协会常务副主席。
陈如桂，83届物探专业毕业，工学博士，高级工程师，享受国务院政府特殊津贴专家，现任广州市政府常务副市长。
陈大克，原桂林工学院党委书记、院长，现任自治区科技厅党组书记、副厅长。
肖明贵，86届工程地质专业毕业，原桂林理工大学副校长，现任贵港市人民政府副市长。
刘胜友，MBA学员，现任广西鹿寨县委副书记、县人民政府县长。
黄宇，桂林工学院地质系矿产普查及勘探专业毕业，教育学博士，研究员。现任广西壮族自治区文化厅党组书记、厅长。主持文化厅全面工作。
沈祝芬 江西省工业和信息化委员会有色处调研员、总统计师
唐善茂，86届毕业，原桂林工学院党委副书记、纪委书记，现任广西自治区地质矿产勘查开发局局长、党组书记、广西地质矿产集团总经理，自治区国土资源厅党组成员、 广西壮族自治区第十次党代会代表。
企业界
陆建华 ，79级地质专业毕业。中国观赏石协会副会长，中国土地估价师协会常务理事，唐山兰德集团董事长，北京宋庄兰德国际奇石展示中心主任。
朱春林，79级地质专业毕业，美国美加国际传媒董事长
钟国冰 ，79级地质专业毕业，黔西南泰龙集团中联冶炼有限公司董事长
孙洪业，80级化探专业毕业，现任药明康德技术平台运营副总裁及基因中心首席运营官。
孙正军，81级地球物质与勘察专业，新疆鑫岩工贸有限责任公司董事长。
阎黎明，83届找矿勘探专业毕业，现任广东贤丰矿业集团副总裁。
吴斌（女），84届地球化学探矿专业毕业，现任中勘冶金勘察设计研究院有限责任公司工程环境研究所所长。
胡一平，85届找矿勘探专业毕业，现任四川德汇天成置业有限公司董事长。
黄涛，87届水文地质及工程地质专业毕业，现任中冶集团武汉勘察研究院有限公司副总工程师，中冶武勘上海分公司副经理。
张晚宋，97届宝石专业毕业，现任中外合资（深圳）瑞红首饰有限公司福红项目营运总监，桂林理工大学珠宝同业校友会理事。
王 成，98届宝石专业毕业，现任深圳定向珠宝零售品牌战略咨询机构董事总经理，桂林理工大学珠宝同业校友会会长。
林顺雄， 海南海汽集团副总裁。
甘青云，桂林燕京漓泉啤酒公司副总经理。</string>
			</dict>
		</array>
	</array>
	<array>
		<string>教务管理系统</string>
		<array>
			<dict>
				<key>title</key>
				<string>桂林理工大学教务在线</string>
				<key>content</key>
				<string>http://202.193.80.58/info/index.do</string>
			</dict>
			<dict>
				<key>title</key>
				<string>学生学业指导中心</string>
				<key>content</key>
				<string>http://departs.glut.edu.cn/studingcenter/</string>
			</dict>
			<dict>
				<key>title</key>
				<string>教师发展中心</string>
				<key>content</key>
				<string>http://departs.glut.edu.cn/teachers/</string>
			</dict>
		</array>
	</array>
	<array>
		<string>学校院系</string>
		<array>
			<dict>
				<key>title</key>
				<string>信息科学与工程学院</string>
				<key>content</key>
				<string>    信息科学与工程学院（简称信息学院）成立于2009年，其前身是应用物理与计算机系（1992年成立）和电子与计算机系（1997年成立）。
学院具有一支年龄结构、学历结构和职称结构合理、教学科研水平较高的师资队伍。现有教职工115人，其中专任教师103人，正高职称11人、副高职称33人，具有博士学位16人。
学院学科基础扎实，包括博士点支撑学科（控制科学与工程）；广西高校重点学科（计算机应用技术）；一级学科硕士点（计算机科学与技术、软件工程），教育部卓越工程师计划专业学位硕士点（计算机技术）；广西高校重点实验室（嵌入式技术与智能信息处理），区级实验教学示范中心（工程训练中心），桂林市制造业信息化推广应用中心；区级精品课程（《C语言程序设计》和《计算机网络》）等教学科研平台。学院与科研院所和企业联合建立校外实习基地10多个。
学院目前设置计算机科学与技术、电子信息工程、通信工程、网络工程、物联网工程和软件工程等6个本科专业。在校学生1800多人，其中本科生1700多人，研究生100多人。设有计算机科学与技术教研室、电子信息工程教研室、通信工程教研室、网络工程教研室、物联网工程教研室、软件工程教研室和计算机基础教研室。学院拥有良好的实验条件，设有电子电工实验教学中心、计算机实验教学中心、信息与控制技术实验教学中心和计算机基础实验教学中心，下设计算机组成原理实验室、网络实验室、软件实验室、物联网实验室、嵌入式系统实验室、现代通信实训实验室、通信专业实验室、现代电子实验室、电子技术实验室、电子工艺实训实验室、电路分析实验室等功能实验室。实验室总面积约2600平方米，各类仪器设备总价值1200多万元。
学院科研工作快速发展，近年来共获各类科研项目100多项，其中国家自然科学基金项目6项，国家863计划子课题2项，省部级科研项目30项，地厅级科研项目30多项，项目总经费1500多万元。研究成果获广西科学技术进步二等奖1项、三等奖2项，桂林市科学技术进步一等奖1项。获得各类专利和软件著作权20多项，发表学术论文680多篇，其中核心期刊460多篇，三大检索收录200多篇。
学院坚持育人为本的办学理念，加强学院内涵建设，努力建设成为特色鲜明、优势明显的区域内具有重要影响的信息类人才培养基地。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>机械与控制工程学院</string>
				<key>content</key>
				<string>    机械与控制工程学院成立于2009年，前身可以追溯到学校1997年成立的电子与计算机系。2009年学校更名为桂林理工大学，为更好地适应学科专业发展，在原电子与计算机系基础上成立信息科学与工程学院和机械与控制工程学院。
学院目前设有“机械设计制造及其自动化”、“自动化”2个本科专业，“检测技术与自动化装置”学术型硕士点，“机械工程”和“控制工程”2个专业型硕士点，“控制科学与工程”博士学位授予单位立项建设支撑学科，具有研究生推免资格。学院现拥有“中央与地方共建高校特色优势学科实验室”、“中央财政支持地方高校发展专项资金实验室”、“工程训练中心”自治区级实验教学示范中心、“信息与制造”广西高校重点建设实验室、“机械设计制造及其自动化”广西高等学校优势特色专业建设点、广西矿冶与环境科学实验中心矿冶装备集成制造技术研究分中心、桂林市职业资格培训鉴定工作站、“检测技术与自动化装置”校级重点学科、“先进制造与自动化技术”校级重点实验室、《自动控制原理》校级精品课程、“控制技术与工程应用”校级教学团队等教学科研平台。
学院有现有教职工51人，其中专职教师42人，教授6人，副教授及其相当职称10人，具有博士学位10人，在读博士5人，广西高校优秀人才1人名。基本形成了一支学历层次较高，职称结构较为合理，富有团结协作精神和联合攻关能力的教学研究队伍。
学院坚持以人才培养为根本任务，突出教学的中心地位，坚持以本科教育为主，积极发展研究生教育，形成本科、研究生相协调发展的格局。近几年来，全国多媒体课件大赛一等奖2项，二等奖2项，区级教改项目8项，出版教材3部，与相关企业建立了9个相对稳定的校外实习基地。
结合学校优势专业学科，立足地方和行业，学院教职工积极承担各类科研项目，充分发挥学科优势，服务于地方社会经济发展。5年来，学院教职工共承担各类科研项目37项，其中国家自然科学基金项目2项，省部级项目9项，到位科研经费300多万元。发表学术论文262篇，其中被SCI、EI、ISTP收录50多篇。申请国家专利和软件著作权5项，获得广西科技进步奖三等奖1项，中国石油和化学工业协会科技进步奖二等奖1项，广西计算机推广应用成果三等奖1项。
学院现有在校本科学生899名，硕士研究生44名。学院把培养应用型高级技术人才作为学院的根本任务，把提高人才培养质量作为学院的目标，培养基础扎实、知识面宽、能力强、素质高的应用型、复合型专业技术人才。学院学生在全国和全区的工业自动化、智能汽车、工程训练综合能力、机械创新设计等大学生竞赛中成绩卓著，有100多人次在区级竞赛中获奖，30多人次在国家级竞赛中获奖。一直以来，我院毕业生初次就业率均达到90%以上，毕业生具备良好的综合素质，与富士康科技集团、纬创资通中山有限公司、海南金盘电气有限公司、广西建工集团、广西柳工集团有限公司等区内外公司有长期、深入的合作，深受用人单位的广泛好评和欢迎。
桂林理工大学机械与控制工程学院 
电话：0773-5895922  邮编：541004  传真:0773-5895922  </string>
			</dict>
			<dict>
				<key>title</key>
				<string>化学与生物工程学院</string>
				<key>content</key>
				<string>    化学与生物工程学院成立于2009年。学院的历史可追溯到1986年桂林冶金地质学院设立的化探系，是桂林理工大学重点建设的学院之一。目前学院下设4个教研室和2个中心，即化学与化工教研室、应用化学教研室、电化学工程教研室、生物工程教研室、化学化工实验中心和分析测试中心。
全院现有教职工80余人，专任教师中有正高职称16人，副高职称31人，具有博士学位的教师44人；教师中有博士生导师5名、广西“十百千人才第二层次”人选1名、广西高校百名中青年学科带头人1名、广西高等学校优秀人才资助计划资助教师2名、桂林理工大学拔尖人才4名。另聘广西区“特聘专家”2名。
学院招生的本科专业有“化学工程与工艺”、“应用化学”和“生物工程”；硕士点有“化学工程与技术”一级学科、“分析化学”二级学科硕士点和“化学工程”专业硕士学位授权点。一级学科“化学工程与技术”是教育部规划博士学位建设点支撑学科，并在环境科学与工程专业（环境分析方向）招收博士研究生。“化学工程与工艺”本科专业为国家级特色专业；“化学工程与工艺”本科专业及“化学工程”硕士专业入选教育部“卓越工程师培养计划”。学院拥有“化学与材料”广西区实验教学示范中心和“化学化工”广西区优秀教学团队。。学院的《普通化学》课程被评为国家级精品课程，《分析化学》和《物理化学》2门课程被评为广西区精品课程。学院与昆明理工大学等多所学校签订了保送研究生的协议，并联合桂林立白日化有限公司等10余家知名企业建立了实习与就业基地。学院至今已培养本科毕业生4000余人，硕士毕业生400余人。目前在读本、硕学生1300多人。近年来各专业学生年就业率稳定保持在95%以上。
学院有“电磁化学功能物质”广西区重点实验室、“应用电化学新技术”、“食品安全检测新技术”广西高校重点实验室、广西矿冶与环境科学实验中心测试分析分中心、“再生资源化工新技术”桂林理工大学重点实验室；拥有“应用化学”广西重点学科、“食品安全检测新技术”高校创新团队和“分析化学”桂林理工大学重点学科。与华盛顿大学、江苏和成新材料有限公司、桂林优利特医疗电子集团有限公司等组建了多个联合实验室。学院拥有仪器和设备总价值2800多万元。
近三年来，学院承担国家自然科学基金面上/地区/青年项目、“863”计划项目子课题等国家级项目30余项、省部级项目60余项、企业委托项目80余项，累计到位研究总经费1000余万元；公开发表学术论文400多篇，其中SCI、EI、ISTP等三大检索收录论文200余篇；获得省部级科技进步奖多项；获授权国家发明专利50多项。
建成具有理工融合特色和先进学院文化的区内领先、国内一流水平的化学与生物工程学院是学院发展的中长期目标。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>材料科学与工程学院</string>
				<key>content</key>
				<string>    材料科学与工程学院前身是1997年建立的桂林工学院材料工程系，2001年更名为材料与化学工程系。2009年6月，教育部批准桂林工学院更名为桂林理工大学后，为了优化学科结构和加快学校的发展，学校决定在原材料与化学工程系基础上组建材料科学与工程学院和化学与生物工程学院。由此，材料科学与工程学院宣告成立。
 
学院拥有材料科学与工程、材料学、材料物理化学、材料加工工程、冶金物理化学等5个自治区级重点学科，2013年正式获得材料科学与工程一级学科博士点，拥有材料科学与工程、冶 金工程2个一级学科硕士点，有材料学、材料物理与化学、材料加工工程、高分子化学与物理等4个二级学科硕士点，同时招收材料工程专业硕士。学院下设无机非金属材料工程、高分子材料与工程、金属材料工程、冶金工程、材料科学与 工程、材料化学6个本科专业。
 
学院拥有“广西有色金属及特色材料加工”省部共建国家重点实验室培育基地，“有色金属及材料加工新技术”教育部重点实验室，“广西有色金属及特色材料加工”广西自治区重点实验室、“材料工程中心”广西区科技创新金源单位、“新型干法水泥制造”“广西工业废渣建材资源利用”广西工程技术研究中心、广西区“化学与材料实验教 学示范中心”等国家和省部级科研、教学平台。 
 
全院共有教职工74人，其中专任教师65人，正高24人，副高15人，博士生导师14人，硕士生导师41人，具有博士学位教师46人。人员中包括：享受国务院政府特殊津贴专家2人、全国优秀教师1人、全国模范教师1人、教育部“新世纪优秀人才支持计划”人选3名、广西“八桂学者”1人、广西特聘专家3人、广西杰出科技人才2人、广西优秀专家4人、广西“新世纪十百千人才工程”3人、广西高校优秀人才资助计划6人、桂林市“首届十大杰出创新人才”1人、教育部教学指导委员会委员1人、广西教学名师1人、广西高校人才小高地创新团队2个。学院现有在校本科生1100余人，研究生200余人，博士生3人。
 
结合国家和地方经济发展的需求，确立了聚合物基复合材料、功 能材料与器件、矿物材料与绿色建材、新能源材料等4个特色研究方向。近五年来，共主持各类国家级项目60余项，到位 科研经费4000多万元，获国家级、省部级科技奖10项，“管磨开流选粉节能技术及其水泥绿色制成应用”获 2011年度国家技术发明二等奖。科技成果转化20余项，公开发表被SCI、EI收录论文260余篇, 获得授权发明专利80余项。
 
学院位于桂林理工大学屏风校区（教2楼、教3楼），拥有专用实验室 面积8000平方米，拥有万元以上仪器设备140余台/件，10万元以上仪器设备40余台，价值总计5500多万元。主要包括场 发射透射电镜，X射线光电子能谱仪，激光共聚焦显微拉曼光谱仪、傅里叶变换红外-拉曼光谱仪、XRD、场发射扫描电镜 、原子力显微镜、纳米粒度分析仪、比表面积仪、万能力学试验机、动态热机械分析仪（DMA）、红外-热重联用系统、 DSC、铁电-压电测试系统、精密阻抗分析仪、网络分析仪、电化学工作站等高端的仪器设备。
 
学院注重与区内企业的产学研合作，现与广西柳州鱼峰 集团公司、广西剑麻集团公司、广西地凯光伏能源有限公司、桂林鸿程矿山机械设备厂、桂林智龙电工材料有限公司、 桂林矿地院等10多家大型企业建立了产学研合作关系，并已经在薄膜太阳电池、环保型电工材料、新型绿色建材等技术 成功实现产业化。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>环境科学与工程学院</string>
				<key>content</key>
				<string>    环境科学与工程学院属桂林理工大学的二级学院，现设有环境工程、环境科学、给水排水工程、水文与水资源工程和地下水科学与工程等5个本科专业，其中环境工程专业自2012年起在区内按一本招生；有环境科学与工程、水利工程2个一级学科硕士学位授权点。一级学科环境科学与工程2013年获批为博士学位授权学科并于2014年开始独立招生，2014年获批准新设为博士后科研流动站。
    学院现有教职工80人，专任教师68人，其中有博士生导师9人，硕士生导师71人（含外聘25人）；有教授(研究员)18人，副教授(副研究员、高工)42人；有博士后9人，博士42人。教师队伍中有国务院政府特殊津贴专家1人、全国高校设置评议委员会委员1人、全国高校专业教学指导委员会委员2人、教育部优秀青年教师资助计划人选1人、教育部新世纪优秀人才支持计划人选1人、广西八桂学者1人、广西优秀专家1人、广西高校教学名师3人、广西十百千人才工程人选5人、广西卓越学者1人、广西高校先进教学管理工作者1人、广西青年科技奖获得者2人，师资力量雄厚。现拥有国家级实验教学示范中心1个（水污染控制实验教学中心），国家级精品课程1门（水污染控制工程），国家级精品视频公开课1门（水污染控制技术），国家级精品资源共享课1门（水污染控制工程），国家级教学团队1个（水污染控制工程教学团队），教育部高等学校特色专业建设点1个（环境工程专业），教育部“卓越工程师教育培养计划”专业1个（环境工程），国家级大学生校外实践教育基地1个，通过全国本科教育评估合格的专业1个（给水排水工程），中央与地方共建重点实验室1个（岩溶地区环境污染防治与水安全中心实验室），自治区重点学科2个（环境工程、市政工程），自治区重点实验室1个（广西环境污染控制理论与技术实验室），广西自然基金创新团队1个（有色金属矿区的环境污染与植物地球化学及修复），自治区精品课程1门（建筑给水排水工程），广西高等学校高水平创新团队（区域性行业废水治理与用水安全保障）1个，自治区级教学团队1个（给水排水工程教学团队），自治区才培养模式创新试验区1个（西部地区环境类应用型人才培养模式创新试验区）。
    学院教学改革成果丰硕。近年来，承担省级教育科研、教学改革项目10多项，获广西高等教育自治区级教学成果奖等6项，2014年获高等教育国家级教学成果奖二等奖1项。在首届全国高校微课教学比赛中获二等奖1人，第三届全国教育改革创新优秀教师奖1人。2014年我院再次获得“全国教育系统先进集体”荣誉称号（2009年9月第一次获得）。
    学院发扬多学科交叉的优势，在环境治理、水资源保护、水污染控制、固体废弃物处理等方面取得了一批国内先进、部分达国际水平的科研成果。近年来，获得包括国家级、省部级在内的各种奖项二十余项，先后获得包括国家863项目、973项目、国家科技攻关项目和国家自然科学基金项目在内的各类科研项目300余项。
    学院高度重视人才培养的质量，关注青年大学生的健康成长，通过多种载体和平台，努力提高学生综合素质与“四种能力”。学院在学校试点本科生导师制，调动专业教师的积极性，形成“合力育人”的工作格局，让本科生导师指导本科生的专业发展、学风培养、考研辅导、学生科技、就业指导、毕业设计等，切实提高人才培养质量。学院一贯注重营造严谨务实的学风，培养出的毕业生专业基础扎实、动手能力较强，连年总体初次就业率超过90%、考研录取率居校内前列，一批学生考取中国科学院、河海大学等知名学府；学院成功举办了多场“雁山讲坛”活动，邀请到中科院院士薛禹群教授、高等学校给水排水工程专业指导委员会主任委员崔福义教授等专家为同学们作精彩讲座；组织同学参加“挑战杯”等课外学术科技竞赛，获得多项国家级、自治区级奖励，培养学生创新精神和实践能力；举办学院研究生学术年会，营造科研氛围，打造出我院自主学术活动品牌；在第38、39、40、41届校运动会上，我院连续取得了男子总分、女子总分、团体总分名列前茅的优异成绩。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>土木与建筑工程学院</string>
				<key>content</key>
				<string>    土木与建筑工程学院始建于1983年，前身为桂林冶金地质学院水文地质与工程地质系、桂林工学院建设工程系和土木工程系，2009年6月，随学校更名而更名为桂林理工大学土木与建筑工程学院。
    学院现有土木工程、城乡规划、建筑学、工程管理4个本科专业，其中土木工程专业自2012年起在广西按一本批次招生；有“土木工程”、“城乡规划学”、“风景园林学”3个一级学科硕士点，“地质工程”1个二级学科硕士点，“建筑与土木工程”、“地质工程”、 “工业设计工程”3个工程硕士专业领域，参与“地质资源与地质工程”一级学科博士点。
    学院现有教职工122人，其中专任教师101人，博士生导师4人,硕士生导师56人（含外聘17人），教授13人，副教授41人，博士32人。教师中有中科院“百人计划”1人、广西“八桂学者”1人、广西“十百千人才”工程1人。经过多年建设，现拥有广西“岩土工程”八桂学者创新团队和广西高校“土木工程建筑健康检测”人才小高地创新团队。截至  2014年9月，学院有在校全日制学生2757人，其中本科生2496人，研究生261人。
    学院具有优良的教学和科研条件。土木工程专业2012年通过住建部专业评估，现有广西区级教学团队1个（土木工程专业教学团队），广西区级精品课程2门（岩土工程勘察、道路工程），广西区级实验教学示范中心2个（力学实验教学中心、土木工程检测与实验教学中心），广西优质专业1个（土木工程），广西特色专业与课程一体化1个（土木工程）、广西特色优势重点学科1个（岩土工程），广西高校重点建设学科2个（土木工程、城市规划与设计），广西重点实验室2个（广西岩土力学与工程重点实验室、广西建筑新能源与节能重点实验室）。学院历来重视教学与科研的结合、基础研究和工程应用研究的结合。近年来，承担国家“973”前期项目、国家自然科学基金项目，省部级及其他各类项目200余项，获得省部级教学及科研奖励10余项。学院坚持对外合作与交流，先后同国内外许多学校、企业建立紧密的合作关系，在学术交流、人才培养、联合办学和科研合作方面，取得丰硕成果。
    学院以培养面向未来国家建设需要、德智体全面发展、具有创新精神的高素质人才为目标，积极探索多样化的人才培养途径。学生学风良好，积极参加各类学科竞赛、科技创新、社会实践、文体活动等，综合素质不断增强。近年来，我院学生在中国国际太阳能十项全能竞赛、全国周培源大学生力学竞赛、全国大学生结构设计竞赛、“西部之光”全国大学生规划设计竞赛、全国大学生创业大赛、全国大学生数学竞赛、全国大学生英语竞赛以及区级各类比赛中屡获佳绩。培养的学生以专业基础扎实、实践能力强而受到社会欢迎，毕业生初次就业率一直保持在90%以上。很多毕业生已成为行业骨干，为国家经济建设特别是广西的经济建设做出了重要贡献。
    土木与建筑工程学院师生将继续弘扬“桂工精神”，努力提高人才培养、教育教学、科学研究和服务地方的水平，为建设特色鲜明的高水平理工大学不懈努力！</string>
			</dict>
			<dict>
				<key>title</key>
				<string>马克思主义学院</string>
				<key>content</key>
				<string>      桂林理工大学马克思主义学院是学校正处级建制的二级学院，它是学校思想政治理论课教学部门和马克思主义理论研究机构，是马克思主义理论学科点的依托单位，是马克思主义理论和思想政治教育专业人才的培养单位。学院下设马克思主义基本原理、思想政治教育、中国特色社会主义理论、中国近现代史纲要、形势与政策等5个教研室和马克思主义理论研究中心、思想政治教育研究所、高校辅导员发展研究中心等三个校级研究机构。学院拥有国务院学位委员会授权的马克思主义理论硕士学位一级学科，现有马克思主义基本原理、马克思主义中国化、思想政治教育三个二级学科点，其中思想政治教育是自治区重点学科。 
       学院现有教职工30多人，其中教授10人，副教授15人，硕士研究生导师19人， 有广西高校思想政治理论课教学指导委员会成员2人、课程建设专家组成员5人，其中课程首席专家1人；有首届广西高校思想政治理论课“教学名师”、首届广西高校思想政治理论课“优秀教师”、校级“拔尖人才”各1人，是一支具有较高学术水平、在广西高校有较大影响力的教学科研团队。
      学院教学改革成绩显著，科研实力不断提高。近年获自治区级教学成果2等奖2项，4门高校思想政治理论课均获得广西区高校思想政治理论课精品课程。先后多人次获广西高校思想政治理论课“精彩一课”奖。 “思想道德修养与法律基础”教学团队是校级教学团队。《现代西方哲学十讲》获第二届广西优秀教材；“思想道德修养与法律基础”课件获得广西首届高校思想政治理论课多媒体课件比赛一等奖。近年来，先后承担省部级以上项目50余项，其中，国家社科基金项目2项，教育部人文社会科学研究项目等10余项，获得教学科研奖项30多项，出版学术专著20部、教材近10部，在国内外专业核心期刊上发表学术论文200余篇，被人大复印资料收录10余篇。近年获得多项自治区级社会科学优秀成果奖。
      学院注重党的建设，提高单位凝聚力，先后获得学校“争先创优先进基层党组织”和桂林市“职工之家”的荣誉称号。
      学院研究生管理规范，培养质量不断提升。每年都有研究生获得自治区三好学生、自治区优秀学生干部、自治区优秀硕士研究生等荣誉。多人次获得广西区研究生创新计划项目，获得全国大学生课外科技活动“挑战杯”三等奖和自治区大学生“挑战杯”三等奖。
      学院坚持“关注前沿、强化特色”的学科建设思路，凸显马克思主义理论研究的实践性和融合性，已经形成较为明确学科研究方向，将为实现学校建设特色鲜明的高水平理工大学的目标作出更大的贡献。
</string>
			</dict>
			<dict>
				<key>title</key>
				<string>人文社会科学学院</string>
				<key>content</key>
				<string>        人文社会科学学院现有行政管理 、社会工作、广告学等3个本科专业，公共经济与管理、社会服务与管理等2个二级学科硕士学位授权点 ， 以及公共管理硕士（MPA）专业学位授权点，  形成了公共经济与管理 、新闻传播学两大学科群 。学院有教职员工57人 ，其中专任教师47人 ，有教授5人，副教授13人， 博士学位9人， 广西优秀中青年骨干教师1人 。现有在校本科生和硕士研究生851人。学院设有行政管理、社会工作、广告学、文学和公共艺术等5个教研室 。主要承担学院两大学科群的专业教学和科研任务， 以及全校文学、音乐舞蹈等人文素质教育类公共课。
       学院重视教学改革与建设，获得全国多媒体课件大赛一、二等奖各 1 项，广西优秀教学成果奖三等奖1项，广西教育科学研究成果奖二、三等奖各1项。不断加强实习实验教学平台建设，自治区级“人文社会科学综合实验教学中心”设在我院，实验教学设备资产800多万元。
       学院注重大学生创新精神和实践能力培养，近年来在“ 挑战杯 ”全国大学生课外学术科技作品竞赛中荣获一等奖2项，二等奖1项，三等奖2项； 在“挑战杯”广西大学生课外学术科技作品竞赛中，荣获特等奖1项，一等奖3项， 二等奖5项；在各级各类广告创意大赛中成绩突出。毕业生深受用人单位欢迎，历年就业率达90%以上。
       在科研方面，学院近年承担国家级研究课题6项，省部级和厅级课题30多项，到位科研经费300多万元；主动服务广西及周边省份区域发展，与地方政府、企业合作开展实际问题研究，取得了良好的社会效益，获广西社会科学优秀成果奖二等奖2项、三等奖4项</string>
			</dict>
			<dict>
				<key>title</key>
				<string>地球科学学院</string>
				<key>content</key>
				<string>       地球科学学院(简称地学院)现设有资源勘查工程、地质类(包括勘查技术与工程、地质工程等 2 个专业)、地质学类(包括地质学、地球化学等 2 个专业)、宝石及材料工艺学、自然地理与资源 环境等 7 个本科专业,本科学生 1580 余名;有地质资源与地质工程一级学科博士学位授权点和相应 的博士后科研流动站,地质资源与地质工程、地质学 2 个一级学科硕士学位授权点,地质工程领域工 程硕士授权点及地质工程专业学位授权点。在读硕士研究生 240 余名。 
        学院现有教职工 108 人,其中专职教师 87 人,实验教师 19 人。教师中有教授(含研究员)17 人,副教授(含高级工程师、高级实验师)28 人,其中博士生导师 7 人,硕士生导师 35 人;教师中 有博士学位 59 人,硕士学位 25 人。教师中享受国务院政府特殊津贴专家 1 人,国土资源部百人计划 1 人,广西区优秀专家 2 人,广西新世纪“十百千人才工程”第二层次人选 2 人,广西高校教学名师 1 人,广西高校优秀人才资助计划 3 人,桂林市首批“漓江学者”1 人。拥有有色金属成矿理论与勘 查技术广西 “八桂学者”创新团队、地质资源与地质工程广西高校人才小高地创新团队。 
        学院把培养具有创新精神和实践能力的应用型技术人才作为目标定位,培养的学生实践动手能力 突出,连续三届获得全国大学生地质技能竞赛团体二等奖 2 次和三等奖 1 次。毕业生深受用人单位欢 迎,一次就业率年均达 95%以上。 
        近年来,通过全院教职工的共同努力,先后获得了《基础地质学》国家精品课程和国家精品资源 共享课,基础地质国家级实验教学示范中心,资源勘查工程国家级教学团队,资源勘查工程和勘查技 术与工程 2 个国家特色专业建设点,资源勘查工程国家级应用型人才培养模式创新实验区,资源勘查 工程本科专业教育部卓越工程师教育培养计划,地质工程工程硕士教育部卓越工程师培养计划,有色 及贵金属隐伏矿床勘查教育部工程研究中心,地质工程、地球探测与信息技术、矿产普查与勘探和地 球化学 4 个广西重点学科,地质资源与地质工程广西优势特色重点学科,广西隐伏金属矿产勘查重点 实验室,广西矿产资源开发与环境保护国际科技合作基地,广西“八桂学者”岗位等多个国家级和省 部级教学科研平台。 
        学院积极承担各类国家级以及地方性科研项目,充分发挥学科优势服务于地方社会经济发展,五 十多年来在广西及全国二十多个省区开展的有色金属找矿及其相关的研究工作成绩斐然。累计承担了国家自然科学基金、国家科技攻关(支撑)项目、国家危机矿山项目、国家深部探测计划等国家级项 目数百项,其科研成果已转化为经济价值 500 余亿元,潜在经济价值达数千亿元,为国家和地方经济 的发展做出了重要贡献。曾获得数十项国家级和省部级科研、教学奖励:包括国家科技进步特等奖、 国家优秀教学成果奖、国家教委科技进步奖一等奖、中国有色金属工业总公司科技进步奖一等奖、广 西壮族自治区科技进步奖一等奖、广西壮族自治区教学成果特等奖和一等奖、全国教育教学多媒体课 件大赛特等奖和一等奖等。2009 年获得“全国教育系统先进集体”荣誉称号及“自治区教育系统先 进集体”荣誉称号,并记集体二等功。 
        党建工作成绩突出,2010 年以来,先后获得广西区高工委授予的“党在我心中”主题实践活动 优秀组织单位、广西高等学校先进基层党组织、全区高校创先争优先进基层党组织、广西高校优秀党 支部、桂林市先进基层党支部等荣誉称号。 
        地球科学学院将坚持打造特色专业,强固优势学科,紧密地与国家和地方经济社会建设结合在一 起,抢抓机遇,励精图治,去创造更加辉煌的未来。 </string>
			</dict>
			<dict>
				<key>title</key>
				<string>外国语学院</string>
				<key>content</key>
				<string>1．发展沿革
桂林理工大学外国语学院的前身外语系成立于1995年7月，1997年并入经济管理与旅游系，2002年7月重新建系，2009年6月成立外国语学院。学院一直承担着全校本专科、研究生等层次的外语教学工作。1993年开始招收经贸英语专科生，1998年开始招收经贸英语和旅游英语本科生，2003年开始招收日语本科生。
学院于2006年初获得外国语言学及应用语言学硕士学位授予权，并于2006年起招收英语专业硕士研究生。
 
2．师资队伍建设
学院现有教职员工99人，专任教师88人，其中教授8人，副教授30人，具有博士学位教师4人，在读博士2人；三分之二以上的教师具有硕士以上学位。超过三分之一教师具有英国、美国、加拿大、日本等国名校的访学背景。
 
3．机构设置与教学条件
外国语学院现设有英语教研室、日语教研室、大学英语教研室（I）、大学英语教研室（II）、研究生公共英语教研室、语言综合实验室等6个教学教辅单位，以及外国语言与文化研究所。建有22间各类语言视听训练室，包括1个外贸习训室与1个同声传译实验室，共有1200多个座位。学院专业图书资料室拥有藏书近万册。
 
4．专业设置
外国语学院现有全日制英语本科专业（开设经贸、旅游、翻译等三个方向）与日语本科专业（开设商务方向），学制四年。近年来，英语本科专业每年高考招生约90人，日语本科专业高考招生约60人。此外，英语专业与日语专业每年共招收专升本学生30余人。
在硕士研究生教育层面，学院招收外国语言学及应用语言学专业硕士研究生，学制三年。目前设有语言与文化和（大学）英语教学2个方向。每年招收英语硕士研究生10余人。
 
5．科研工作
依据区内外语学科布局与历史发展及现状，结合学院人才队伍专长与特点，以硕士点建设为抓手，确定英语教学、翻译与英美文化为学院专业发展的三个专业研究方向。学院每年举行文化、翻译与应用语言学三个专业方向建设研讨会。
五年来学院完成与在研的科研项目包括3项国家社科基金项目（2011年度国家社科基金项目“广西壮学资料研究英译汇编研究”，2012年度国家社科基金西部项目“西南地区汉传佛教文化遗产旅游开发的适宜性评价及管理研究”与2013年国家社科基金后期资助项目“英国旅游文化史”）与5项省部级课题（2009年教育部人文社科项目“基于南博会的汉语、英语及东南亚语言对应与语码互译的语料库建设”，2010年教育部人文社科青年基金项目“基于英语母语语料库的社会工作专业英语实用手册编制研究”，2011年度广西哲学社会科学项目“服务中国－东盟的商务英语本科人才培养模式创新与开拓研究”，2012年度广西哲学社会科学项目“东盟现代文化的构建及其对我国少数民族地区的启示--以广西为例”与2013年度广西哲学社会科学项目“壮母语大学生英语发音调查研究及有声语料库建设”）。
学院完成与在研的省部级以上教学教改教材研究项目主要有“十一五”期间第二批广西高等学校重点教材立项项目“新编外国社会与文化教程”，广西教育科学“十二五”规划2010年度广西高校大学英语教学研究专项重点课题“发现性大学英语教学模式的研究与实践”，广西教育科学“十一五”规划2010年度立项课题“广西高校日语人才培养与就业模式研究”，广西“十二五”2011年教改项目“移动环境下《大学英语》第二课堂教学设计研究与实践”，广西教育科学“十二五”规划2011年度广西高校大学英语教学研究专项“显性形式教学与隐性形式教学对词汇学习效果的对比研究”，2012年度广西高等教育教学改革工程立项项目“人本主义视角下大学英语课程内容重组设计教学范式的研究与实践”与“广西高校优质课程资源共享研究与实践—以日语专业为例”，2014年度广西高等教育教学改革工程项目“地方高校商务英语核心课程资源整合与教学方法优化”，等等。
近五年来，我院教师共出版专著6部，译著2部，主编教材近20部。每年发表论文约50篇。
 
6．人才培养
大力开展第二课堂活动，组织开展英日语戏剧大赛、“外语之星”演讲比赛、英日语歌曲演唱比赛和圣诞文化晚会等全院性大型活动。同时，在全院范围内推出“六个一工程”、在低年级实施“读书工程”。
组织选派优秀教师指导学生参加各类学习竞赛活动，近年来在全国大学生英语辩论赛（2013年全国总决赛三等奖1项）、全国大学英语竞赛（2012年广西赛区特等奖和一等奖各1项，2013年广西赛区决赛冠军）、全国英语演讲比赛（2013年全国总决赛三等奖1项，2013年广西赛区决赛特等奖和一等奖各1项）、广西高校大学生英语戏剧大赛、全区“东方正龙杯”英语翻译大赛、中华全国日语演讲大赛、广西高校日语演讲大赛等竞赛中均获得了优异的成绩。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>艺术学院</string>
				<key>content</key>
				<string>    2002年6月，桂林工学院在原土木工程系艺术设计教研室的基础之上成立了艺术设计系。2009年3月，桂林工学院更名为桂林理工大学后，原桂林工学院艺术设计系更名为桂林理工大学艺术学院。
    学院现有环境设计、视觉传达设计、产品设计、服装与服饰设计、艺术设计专业(公共艺术方向)、工艺美术、动画7个本科专业。拥有城市规划与设计、环境设计两个二级硕士学位授权点，具有推荐优秀应届本科华业生免试攻读硕士研究生的资格。
    院行政设学院办公室、学生工作办公室、综合实验办公室;教学机构设有环境设计、视觉传达、产品设计、服装设计、动画、工艺美术、基础艺术7个教研室；有桂林理工大学艺术研究所、桂林理工大学高校美育研究所两所研究机构。现有教职工81名，其中专业教师75名，具有高级职称教师22 名，中级职称教师33名。教职工队伍中博士、硕士研究生49 名，硕士生导师8名。现有在校生1455人，其中本科生1432 人，硕士研究生23人。学院聘请有国内艺术专业领域知名专家学者十余人为我院客座教授、兼职教授。
    学院具有良好的教学环境与教学条件，拥有设施完备的教学楼一栋，配备有专业画室与实验室；学院具有良好的专业实验条件，拥有陶艺实验室、雕塑与壁画实验室、漆艺实验室、纤维艺术实验室、产品造型设计与制作实验室、模型制作实验室、计算机辅助设计实验室、三维动画实验室、印刷工艺综合实验室、服装实验室、服装手工实验室共12个功能完善的专业实验室。并有一间面积720平米的展厅供日常教学使用。
    近两年来，学院承担区级教改课题6项；获区级教学成果奖一项;获桂林理工大学“十二五”规划教材建设立项9项；校级精品课程立项一门。艺术学院教师共发表教改、科研论文300余篇，获得教育部西部项目、广西哲社课题等省部级科研课题30余项；出版著作、作品集、教材等10余部;教师的美术作品与设计作品参加全国各级各类展览，成绩突出：在第十一届全国美展、建军八十周年全国美术作品展、“从洛桑到北京”国际纤维艺术双年展、中国现代工艺美术作品展、中国民族百花奖美术作品展、中国陶瓷琉璃艺术大奖赛、全国造型艺术新人展、全国高校艺术教育科研论文比赛等活动中，有10余人次获得大奖。学生积极参加全国、全区各类竞赛，并展次获得殊荣。其中代表性的成绩有：全国第二届大学生艺术展演活动艺术设计类专业组一等奖、全国第三届大学生艺术展演活动艺术设计类专业组三等奖、全国大学生广告艺术大赛优秀奖、全国大学生工业设计大奖赛优秀奖、全国大学生工业设计大奖赛广西赛区一等奖、“我的手艺”大学生设计大赛银奖等。
    学院拥有一个校级专业教学团队、一个区级优势特色专业，于2011年获得广西区教育厅与文化厅授予的首批“广西动漫人才培养基地”，与桂林理工大学重点学科“设计学”、人文社会科学重点研究基地“广西民族民间艺术研究中心”一起成为学院三个重要的教研平台。
</string>
			</dict>
			<dict>
				<key>title</key>
				<string>旅游学院</string>
				<key>content</key>
				<string>       旅游学院（以下简称学院）源于1985年原桂林冶金地质学院设立的经济管理与旅游系，2000年经原桂林工学院批准更名为旅游学院。学院经过多年建设，形成了“以民族旅游、民族经济、民族景观文化”为主要方向的“校、政、企，产、学、研”一体化办学模式；先后获得国家特色专业建设点、广西高校优势特色重点学科等16个省级以上教学科研平台；先后承担国家级科研课题（项目）18项，其中2010年以来承担10项。
      学院现有旅游管理、酒店管理、风景园林3个本科专业，旅游管理、中国少数民族经济、风景园林3个学术型硕士专业和旅游管理专业硕士(MTA)，形成了多学科、多层次的教学体系。学院在校生本科近1200人，研究生150人。学院下设旅游开发与景区管理、民族经济与旅行社管理、酒店管理、风景园林4个教研室；拥有广西“2011协同创新中心”（广西文化旅游产业协同创新中心）、广西高校人文社会科学重点研究基地（广西民族旅游研究中心）、桂林桂工旅游规划设计研究院、桂林理工大学民族发展研究中心、桂林理工大学民族旅游研究中心、桂林理工大学景观工程研究所等科研机构。
      学院现有专任教师46名，其中博士21人（含在读博士8人），占45.7%；高级职称教师26人（其中正高9人），占56.5%；博士生导师1人，省级“十百千人才工程”人选1人，广西高校卓越学者1人，国家旅游业青年专家资助计划2人，广西高校优秀人才资助计划人选3人，广西高校优秀中青年骨干教师2人；学院双师型教师占专业教师总数的42%。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>管理学院</string>
				<key>content</key>
				<string>   管理学院是桂林理工大学为适应加入 WTO 后国际经济一体化和西部大开发对经济管理人才的需要而设立的二级学院。管理学院现有工商管理、市场营销、会计学、国际经济与贸易、人力资源管理、电子商务、房地产经营与管理、物流管理等8个本科专业（其中市场营销专业是与英国伯明翰城市大学合作举办的“2+2”本科教育项目）。有广西重点学科1个（企业管理），一级学科硕士学位授权点1个（工商管理），二级学科硕士学位授权点1个（产业经济学）以及“工商管理硕士”（MBA）、“会计硕士”（MPAcc）等2个专业学位授权点。
    学院现有自治区级以上质量工程项目6项，包括：广西经济管理类首门国家级双语示范课程——《管理学》，自治区级实验教学示范中心1个（管理科学实验教学中心），广西高等学校特色专业及课程一体化建设项目1项（工商管理），自治区级精品课程1门（《市场营销学》），广西优质专业2个（工商管理、市场营销）。学院有自治区级科研平台1个（“管理与决策研究中心”广西高校人文社会科学重点研究基地），另有“会计学”重点学科、“现代企业管理研究中心”人文社会科学重点研究基地等2个校级科技创新平台。
    学院现有教职工114人，其中专任教师99人。专任教师中有教授21人，副教授32人；博士生导师2人，硕士生导师43人，广西高校优秀人才资助计划1人；教师中有博士学位35人。
    学院发挥专业优势和学术特长，积极承担各类国家级以及地方性科研项目，近十年承担20多项国家级研究课题，各类科研项目到位科研经费3000多万元；积极服务广西及周边省份区域发展，与地方政府、企业合作开展实际问题研究，为企业、产业、区域发展提供强有力的智力支持，取得了良好的社会效益。近几年先后获得包括社会科学优秀成果二等奖、科技进步三等奖、自然科学优秀论文一等奖、政府决策咨询成果三等奖、教学成果三等奖等在内的省部级教学科研成果奖近20项。管理学院秉承“志存高远”的办学宗旨，正朝着广西名列前茅、西部一流、在全国具有重要影响的现代管理学院迈进。  
    管院院训（志存高远 取精用弘）
</string>
			</dict>
			<dict>
				<key>title</key>
				<string>理学院</string>
				<key>content</key>
				<string>      理学院共有应用统计学、信息与计算科学、应用物理学三个本科专业，在校本科生800多人；应用统计学一级学科硕士点以及材料物理与计算科学二级学科硕士点。学院有五个教研室和一个实验教学示范中心，承担着办好我院学科专业以及全校数学、物理类课程和实验的教学工作。

      学院坚持以创新为动力、以教学为中心，以教学质量求生存，以科研质量求发展，不断加强师资队伍建设和基础设施建设。学院拥有实力雄厚、结构合理的师资队伍，现有教职工88人，其中专任教师79人，管理人员9人；拥有教授8人，副高职称33人，硕士生导师17人，具有博士学位的教师34人，在读博士10人。师资队伍的学缘结构、年龄结构合理，拥有广西壮族自治区优秀专家，“广西新世纪十百千人才工程”第二层次人选，广西高校百名中青年学科带头人，广西高等学校教学名师，广西自治区优秀教师。学院在平台建设上成绩显著，统计数据分析与信息处理技术是广西高校人才小高地资助创新团队，应用统计学教学团队是广西高校自治区级教学团队，应用统计学是区重点学科，线性代数、应用统计学、运筹学课程是广西高校自治区级精品课程，曾获“统计学”全国多媒体课件大赛一等奖、广西高等教育自治区级教学成果一、二、三等奖、广西高等学校优秀教材二、三等奖等多种奖项。学院科研实力不断提升，近几年主持有国家自然科学基金项目22项，国家社科基金1项，广西重点基金1项、其它省部级科研基金、教育教学教改研究项目60多项，实到科研经费1000多万元，发表科研论文400多篇，其中SCI、EI收录200余篇，出版专著3部、教材12本，发表教学研究论文130多篇。曾获广西科技进步奖二等奖。

      学院高度重视学生培养工作，不仅重视学生的理论水平，更注重学生的社会实践能力培养，近几年毕业生一次性就业率均达到95%以上。学院以提高人才培养质量为目标，积极组织开展学生科技学术活动，提高专业素质、提高科研能力、增强课外科技知识。在全国数学建模竞赛、全国大学生电子设计大赛、全国软件人才设计大赛等学生学术竞赛中屡获佳绩。数学建模协会获得“全国高校优秀社团奖” 。
</string>
			</dict>
			<dict>
				<key>title</key>
				<string>博文管理学院</string>
				<key>content</key>
				<string>   桂林理工大学博文管理学院成立于2002年4月，是教育部批准设立的以新机制创办的独立学院，是独立设置的全日制本科普通高校。校园位于桂林市雁山区教育园区内，占地600余亩，规划总建筑面积35万平方米，教学、生活、运动的设施齐全，环境优雅。学院现有专任教师490余人，其中具有高级职称的186人，具有硕士及以上学位专任教师共320人，在校生10000余人。
    学院依托桂林理工大学优质办学资源，以地方经济社会发展需求为导向，以土建、地质、经贸等学科专业为重点，形成以工为主，管、经、文、艺、理等多学科协调发展的学科体系。学院现有土木与建筑工程学院、经济与管理学院、信息工程学院、艺术设计学院、外语学院、基础部、思想政治理论课教学部等教学单位，设有25个本科专业，其中土木工程专业于2011年9月获得广西高等学校特色专业及课程一体化建设项目立项，土木工程、测绘工程两个专业获得2013年广西民办高校重点建设专业。
    学院秉承“博学于文，约之以礼”的校训，坚持“育人为本、质量立校、特色强校”的办学理念，培养品德高尚，具有较强学习能力、协作能力、实践能力、创新能力的高级应用型人才。近三年来学生在全国大学生数学建模竞赛、全国大学生英语竞赛、“挑战杯”全国大学生课外学术科技作品竞赛、全国电子设计大赛等竞赛中，共获国家级奖185项，省部级奖489项。历年来，学院毕业生考研上线率达47%，一次就业率均超过92%，在广西独立学院中一直名列前茅。
    学院注重校企合作，产学研结合，拥有校外实习基地100多个。近年来，我院教师主持和参与国家自然科学基金项目5项，省部级以上科研教改立项项目19项，地厅级科研教改立项项目26项，获得国家级奖项1个，省部级奖项7个，专利4项，出版专著25部，公开发表学术论文400余篇。
    办学十余年来，学校主动适应区域经济建设和社会发展的需要，为服务地方发展做出了突出的贡献，得到了社会各界积极肯定，社会认可度不断提高。涌现出了“全国独立学院优秀工作者”、“2012全国高校辅导员年度人物”、“博鳌亚洲论坛优秀志愿者”等先进个人，学院也获得“2013年度十大品牌独立学院”、“自治区安全文明校园”、“自治区优秀卫生学校”、“高校思想政治工作先进单位”等荣誉称号。
    学院积极实施“教学质量工程”、“师资队伍建设工程”、“校园文化建设工程”以及“国际交流合作工程”，加大基础设施和办学条件的投入，以应用型人才培养为目标，以教学为中心，以学科建设为重点，立足广西，面向全国，努力将博文管理学院建设成为区域领先、特色鲜明的高水平大学。
 
    地址：广西桂林市雁山区雁山街317号
    邮编：541006
    院办电话（传真）：0773-8998055
    招生咨询电话：0773-8998009、8996342
    网址：http://www.bwgl.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>继续教育学院</string>
				<key>content</key>
				<string>      桂林理工大学成人教育事业，创办于1986年，经过二十多年的努力，目前已形成了函授夜大、高等自学考试、培训等多种形式的办学体系，具有在职研究生、成人本科和专科教育三个层次。目前在籍成教学生10000多人，自考学生3500多人，研究生班60多人。举办专业有本科43个，专科46个。其中旅游管理、给排水、环境工程、土地资源管理、土木工程和冶金工程等专业具有一定特色和影响力。

　　我校成人教育发展历程大致可以分为3个阶段：
　　第一个阶段为1985-1988年，是成教事业的起步阶段。1985年学院在教务处下设函授部。1986年正式招生，招生专业主要为地质类专业。西安教学点是第一个校外教学点。
　　第二个阶段为1988-1999年，是成教事业的调整及发展阶段。1988年学校正式设立成人教育处，1993年改名为教育培训部，1996年改为成人教育学院，并有了独立的办公大楼。这一阶段，由于学院更名、专业调整，老的传统专业萎缩，新的专业还在艰难起步，因此成教工作也遇到很大困难。但是，尽管这样，成教还是在调整中有所发展，创办了许多新专业。虽然办学层次仍为专，但办学条件有了很大提高，教学管理也形成了自己的特色，1993年荣获广西教学管理优秀成果奖；1996年在国家教委组织的函授、夜大学评估中获优良等级，1998年在广西成人高等教育评估中被评为优秀学校。2001年被广西评为自学考试先进单位。
　　第三个阶段为2000年起，是成教事业快速成发展的阶段。这一阶段的标志是办学层次提高、招生规模扩大。
　　根据学校发展规模，到2011年，成人教育在册学生要达到10000人以上，其中本科4100人，专科5900人以上，学士学位率达50%左右。我们相信：只要有正确的指导思想，有勇于创新的精神和勤奋献身的工作态度，充分发挥全体教职工的积极性，我校成教事业必将在今后有一个快速发展，为桂林理工大学的总体发展和广西高教事业作出自己的贡献。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>国际教育学院</string>
				<key>content</key>
				<string>    国际教育学院（国际交流处）是桂林理工大学直接领导的教学及行政管理职能部门，下设院（处）办公室、外事科、学生事务科、汉语教研室等机构。

国际教育学院（国际交流处）主要负责桂林理工大学中外合作教育项目的运行与管理，来华留学生的招生、教学和日常管理、后勤服务，负责学校重大外事活动的组织、协调、接待工作；学校各级人员因公出国的具体报批事宜和学生出国学习交流；负责国际交流与合作项目的立项、报批、谈判及协议签署、内部协调和宏观管理工作；负责聘用外专、外教的审核与报批事宜和日常生活管理等工作。目前，已同美国、英国、德国、日本、以色列、澳大利亚、韩国、泰国、越南等20多个国家和地区的100多所高校、科研机构建立了友好关系，开展了中外2+2本科等中外合作办学项目。学院（处）积极发展来华留学生教育工作，广开渠道，开放办学，留学生教育结构逐步优化，汉语进修长、短期生及学历生人数逐年增加，至今已有来自40多个国家的1500多人次来华留学生来校学习。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>南宁分校</string>
				<key>content</key>
				<string>    桂林理工大学创建于1956年，现有屏风、雁山、安吉、空港四个校区，校园总面积4000多亩，学校现有各类全日制在校生3万余人。学校设19个二级学院，有3个一级学科博士学位授权学科，16个一级学科硕士授权点，是一所以工学为主，理、管、文、经、法、艺7大学科门类，研究生教育、本科生教育、高等职业教育和成人教育协调发展的多科性高等学校。
     学校师资力量雄厚，教学改革成果丰硕，科研实力日益增强。现有专任教师1400多人（其中高级专业技术职务教师600多人，42名教授被国内重点院校聘为博士生导师）；有国家级质量工程项目23项，近年来承担省级教育科研、教学改革项目300多项，获得国家和省部级教学成果奖60多项；拥有国家重点实验室培育基地、教育部重点实验、教育部工程研究中心，曾获得国家科技进步特等奖，这是迄今为止广西高校科研成果获得的最高奖项。近年来，全校毕业生的一次就业率年均达90%以上，2009年，荣获“全国普通高等学校毕业生就业工作先进集体”荣誉称号，已连续13年获得“全区普通高校毕业生就业工作先进集体”荣誉称号，并获得“2012年度全区普通高校毕业生就业统计工作先进单位”。
     桂林理工大学南宁分校有南宁安吉、空港两个校区，校园面积1300多亩，建筑总面积超过30万平方米。安吉校区位于广西首府南宁市，空港校区位于南宁空港经济区内,属南宁市半小时经济圈范围。两个校区教学、生活和体育设施完备，安吉校区整洁幽静，空港校区风格别致的建筑与起伏的山势融为一体，树木郁郁葱葱，为广大学子提供了舒适、优雅的学习环境。
    南宁分校专门从事高等职业技术教育。现有教师450余人，设有冶金与资源工程系、机械与控制工程系、计算机应用系、经济与管理系、土木与测绘工程系、电气与电子工程系等6个系和基础学科部。开设有金属矿产地质与勘查技术、选矿技术、冶金技术、工程测量技术、建筑工程技术、环境监测与治理技术、工程造价、数控技术、模具设计与制造、电气自动化技术、机电一体化技术、计算机应用技术、电脑艺术设计、通信技术、旅游管理、市场营销、会计、商务英语等50个专业，现有全日制在校生10200余人。
     南宁分校坚持“开放、融合、实践、创新”的办学理念，狠抓质量生命线，以专业建设为龙头，不断调整和优化专业结构，使专业结构与地方经济发展和企业需求相适应，教学内容与行业发展相吻合，实践教学与岗位需求相对接。分校拥有冶金技术、机电一体化技术、计算机应用技术、通信技术、商务英语、旅游管理6个自治区级优质专业，拥有各级精品课程14门，冶金技术专业获得“广西高等学校特色专业及课程一体化建设项目”。
     南宁分校坚持为区域经济和社会发展培养生产、管理、服务一线需要的高技能型人才的办学宗旨，突出学生职业技能和创新能力的训练和培养。建有计算机、数控技术、电力电子、通信技术、网络工程、环境监测、电子商务、模拟会计等109个实习实训场所，在广西华锡集团、中铝广西分公司、广西银海铝业、广西区测绘院、广西中环水业工程有限公司、浙江中国小商品城集团股份有限公司、博罗冲压精密工业有限公司等区内外相关大中型企业建有95个校外实训基地。积极开展职业技能鉴定，实施“双证书”建设，设有国家劳动和社会保障部批准的特有工种职业技能鉴定站等4个职业技能鉴定机构，可以开展60多个工种的职业资格鉴定。
     南宁分校把培养具有创新精神和实践能力的高技能应用型人才作为目标定位，形成了鲜明的特色，组织学生参加各级各类职业技能竞赛，取得骄人成绩。近年来，学生参加各类职业技能大赛获得区级以上奖项367项，其中，国家级奖项70项，省部级奖项268项。在全国职业院校技能大赛、全国有色金属行业职业院校学生职业技能竞赛、全国市场营销大赛、全国导游大赛、全国英语翻译大赛、全国Java程序设计、全国三维数字化创新设计大赛、全国机械设计创新大赛和全国模具工职业技能竞赛中均取得了较好成绩。
    南宁分校以社会需求为导向，以学生全面发展为根本任务，以培养学生能力为本位，以工学结合、校企合作、顶岗实习人才培养模式改革为切入点，提高教育教学质量，着力培养高素质技术技能型人才。毕业生职业资格获证率为90%，多证率近40%。多年来，毕业生的一次就业率年均达95%以上。毕业生以专业基础扎实、综合素质高、动手能力强、踏实肯干而倍受用人单位称赞，许多人已成为国家经济社会各个领域的中坚和骨干力量，学校已成为有色金属、现代制造、IT和管理等行业人才培养、科技创新、社会服务的重要基地。
    南宁分校积极开展对外交流与合作，实施开放办学，与新西兰国际太平洋学院、澳大利亚墨尔本商学院、美国佛罗里达国际大学、马来西亚精英大学、马来西亚林登大学、马来西亚伯乐大学、马来西亚世纪大学、英国史塔福郡大学、英国桑德兰大学、新加坡南洋现代管理学院等10余所国际院校建立了合作办学关系。
    卓尔有大为，出海扬风帆。今天的桂林理工大学南宁分校将继续坚持“德以至诚、学以敦行”的校训，与时俱进，开拓创新，深化改革，强化管理，为培养适应社会需要的高素质合格人才而努力!(数据截止到2014年11月15日)</string>
			</dict>
		</array>
	</array>
	<array>
		<string>内设机构</string>
		<array>
			<dict>
				<key>title</key>
				<string>党委办公室 校长办公室</string>
				<key>content</key>
				<string>http://bgsh.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>纪检监察</string>
				<key>content</key>
				<string>http://jiwei.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>组织部</string>
				<key>content</key>
				<string>http://zzb.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>宣传部</string>
				<key>content</key>
				<string>http://xcb.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>统战部</string>
				<key>content</key>
				<string>http://tzb.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>学工部（处）</string>
				<key>content</key>
				<string>http://xg.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>武装部 保卫处</string>
				<key>content</key>
				<string>http://wzbw.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>党委党校</string>
				<key>content</key>
				<string>http://dwdx.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>机关党委</string>
				<key>content</key>
				<string>http://jgdw.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>工会</string>
				<key>content</key>
				<string>http://gonghui.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>团委</string>
				<key>content</key>
				<string>http://ggtw.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>教务处</string>
				<key>content</key>
				<string>http://departs.glut.edu.cn/teachers/welcom.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>教师教学发展中心</string>
				<key>content</key>
				<string>http://cffd.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>科技处</string>
				<key>content</key>
				<string>http://departs.glut.edu.cn/kjc/index.asp</string>
			</dict>
			<dict>
				<key>title</key>
				<string>人事处</string>
				<key>content</key>
				<string>http://rsc.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>招生就业处</string>
				<key>content</key>
				<string>http://zjc.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>研究生院（研究生工作部）</string>
				<key>content</key>
				<string>http://yjsy.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图书馆</string>
				<key>content</key>
				<string>http://lib.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>现代教育技术中心</string>
				<key>content</key>
				<string>http://xjzx.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>财务处</string>
				<key>content</key>
				<string>http://caiwu.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>审计处</string>
				<key>content</key>
				<string>http://shenji.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>资产管理处</string>
				<key>content</key>
				<string>http://zcglc.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>发展规划与教学质量监控中心</string>
				<key>content</key>
				<string>http://fgyzj.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>基建后勤处</string>
				<key>content</key>
				<string>http://jjc.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>离退处</string>
				<key>content</key>
				<string>http://ltc.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>后勤集团</string>
				<key>content</key>
				<string>http://hqjt.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>社区管理办公室（居委会）</string>
				<key>content</key>
				<string>http://shequ.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>校医院</string>
				<key>content</key>
				<string>http://yy.glut.edu.cn</string>
			</dict>
		</array>
	</array>
	<array>
		<string>学生管理</string>
		<array>
			<dict>
				<key>title</key>
				<string>学工部（处）</string>
				<key>content</key>
				<string>http://xg.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>校团委</string>
				<key>content</key>
				<string>http://ggtw.glut.edu.cn</string>
			</dict>
		</array>
	</array>
	<array>
		<string>招生就业</string>
		<array>
			<dict>
				<key>title</key>
				<string>研究生招生</string>
				<key>content</key>
				<string>http://yjsy.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>本科生招生</string>
				<key>content</key>
				<string>http://zj.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>高职高专招生</string>
				<key>content</key>
				<string>http://zsw.glutnn.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>继续成人教育招生</string>
				<key>content</key>
				<string>http://cjy.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>毕业生就业网</string>
				<key>content</key>
				<string>http://glut.doerjob.com</string>
			</dict>
		</array>
	</array>
	<array>
		<string>人才招聘</string>
		<array>
			<dict>
				<key>title</key>
				<string>人才引进</string>
				<key>content</key>
				<string>http://rsc.glut.edu.cn/wdh_list.jsp?urltype=tree.TreeTempUrl&amp;wbtreeid=1078</string>
			</dict>
		</array>
	</array>
	<array>
		<string>图书馆</string>
		<array>
			<dict>
				<key>title</key>
				<string>桂林理工大学图书馆</string>
				<key>content</key>
				<string>http://lib.glut.edu.cn</string>
			</dict>
			<dict>
				<key>title</key>
				<string>CNKI总库</string>
				<key>content</key>
				<string>http://www.cnki.net</string>
			</dict>
			<dict>
				<key>title</key>
				<string>馆藏书目OPAC检索系统</string>
				<key>content</key>
				<string>http://202.193.80.181:8080/opac/index</string>
			</dict>
		</array>
	</array>
	<array>
		<string>教务在线</string>
		<array>
			<dict>
				<key>title</key>
				<string>学生教务在线</string>
				<key>content</key>
				<string>jws</string>
			</dict>
			<dict>
				<key>title</key>
				<string>老师教务在线</string>
				<key>content</key>
				<string>jwt</string>
			</dict>
		</array>
	</array>
</array>
</plist>
